<p>
    <span>{{burger_name}}</span>
	<button class="change-devoured btn btn-danger btn-sm" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}NOT DEVOUR{{else}}DEVOURED{{/if}}
	</button>

</p>